
if 
<div class='offer'>
<div class='title'>Offer Title</div>
<div class='payout'>Offer Payout</div>
<div class='thumbnail'>Offer Thumbnail</div>
</div>

else

<div class='no_offers'>
  No offers
</div>